<div class="">
  {{#each stars as |star|}}
    <span onclick={{action "setRating" star.rating}}>
      {{#if star.isFull}}
        <svg height="25" width="23" class="text-yellow fill-current" data-rating="1">
          <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
        </svg>
      {{else}}
        <svg height="25" width="23" class="text-grey fill-current" data-rating="1">
          <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
        </svg>
      {{/if}}
    </span>
  {{/each}}
</div>